<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <filter class="pl.rafalmag.subtitledownloader.themoviedb.TheMovieDbWarnFilter"/>
            <layout class="pl.rafalmag.subtitledownloader.themoviedb.ApiKeyMaskingPatternLayout">
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} [%file:%line] - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>